<div class="row my-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        Register
      </h1>
      {{> message}}
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" id="name" name="name" class="form-control" placeholder="輸入名稱..." value="{{name}}" />
        </div>
        <div class="form-group">
          <label for="email">Email<span class="text-danger ml-1">*</span></label>
          <input type="email" id="email" name="email" class="form-control" placeholder="輸入Email..." value="{{email}}" />
        </div>
        <div class="form-group">
          <label for="password">Password<span class="text-danger ml-1">*</span></label>
          <input type="password" id="password" name="password" class="form-control" placeholder="輸入密碼..."
            value="{{password}}" />
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password<span class="text-danger ml-1">*</span></label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
            placeholder="再次輸入密碼確認..." value="{{confirmPassword}}" />
        </div>
        <button type="submit" class="btn btn-outline-primary rounded-pill btn-block">
          Register
        </button>
        <a href="/auth/facebook" class="btn btn-outline-info rounded-pill btn-block">Facebook Login</a>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>